<div class="cardVideo">
  <div class="cardVideo__img">
    <img [src]="video.image" [alt]="video.image" />
  </div>
  <div class="cardVideo__content">
    <div class="left">
      <img [src]="video.userUpload.image" alt="" />
    </div>
    <div class="right">
      <h4 class="name">{{ video.name }}</h4>
      <span class="nameUser">{{ video.userUpload.name }}</span>
      <div class="views">
        <span>{{ formattedViews }}</span>
        -
        <span>1 month ago</span>
      </div>
    </div>
  </div>
</div>
