.cardVideo {
  border-radius: 16px;
  overflow-y: auto;
  &__img {
    width: 100%;
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    padding: 24px 16px;
    background: linear-gradient(
      180deg,
      rgba(72, 49, 157, 0.2) 18.75%,
      rgba(72, 49, 157, 0) 100%
    );
    display: flex;
    gap: 16px;
    .left {
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }
    .right {
      .name {
        color: #fff;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px; /* 123.529% */
        letter-spacing: -0.32px;
        margin-bottom: 10px;
      }
      .nameUser {
        color: var(--clr-primary);
        text-align: center;

        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px; /* 183.333% */
        letter-spacing: -0.408px;
        text-transform: uppercase;
      }
      .views {
        margin-top: 10px;
        color: var(--clr-primary);
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 169.231% */
        letter-spacing: -0.408px;
      }
    }
  }
}
